$primaryColor: #ffcc00;
$secondaryColor: #2ecc71;

// Variable For Background
$backgroundColor: #f1f5f5;
$whiteColor: white;

// Variable For Text
$textColor: #545353;
$headingColor:#212121;
$blackColor: black;